---
layout: post
title: Maps
---
<script>

$(function() {
    $(".nav-map > p >span").click(function(){
        var id = $( this ).attr("id");
        $(".nav-map #map-png").attr("src", "{{ site.baseurl }}/maps/france/"+id+".png");
    })

    $(".nav-map-pr > p >span").click(function(){
        var id = $( this ).attr("id");
        $(".nav-map-pr #map-png").attr("src", "{{ site.baseurl }}/maps/presidentielle/PRES2012-"+id+".png");
    })
    
});
</script>

<ul class="contact-list">
    <li>
      <!-- <a href="http://bl.ocks.org/lucguillemot"><img width="16px" src="{{ site.baseurl }}/img/blocks.png"></a> -->
      <a href="https://www.linkedin.com/in/luc-guillemot-48293a91"><img width="16px" src="{{ site.baseurl }}/img/lkdin.png"></a>
    {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}">
        <span style="padding-left:8px" class="icon  icon--github">
          <svg viewBox="0 0 16 16">
            <path d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
          </svg>
        </span>
        <!-- <span class="username">{{ site.github_username }}</span> -->
      </a>
    {% endif %}
    {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <span style="padding-left:8px" class="icon  icon--twitter">
          <svg viewBox="0 0 16 16">
            <path d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
            c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
          </svg>
        </span>
        <!-- <span class="username">{{ site.twitter_username }}</span> -->
      </a>
    </li>
    {% endif %}
  </ul>
  
<p>On this page are a few past projects I did with the team at <a href="http://choros.epfl.ch/">Chôros Lab (EPFL)</a> in Lausanne. I am specifically interested in making readable the urban pattern of political spaces. </p>

<h4>The Urban Pattern in France</h4>
<p>Socio-spatial characteristics of French population reveals levels of urbanity. Socio-spatial indicators are mapped at the communal level using a population cartogram. Most indicators make obvious the urban pattern covering the entire territory of France. City centers almost always contrast with their suburbs and hinterlands. The use of cartograms make their specific urbanity readable.

These maps have been published in Jacques Lévy's <i><a href="http://www.amazon.fr/R%C3%A9inventer-France-Trente-nouvelle-g%C3%A9ographie/dp/2213671974/ref=sr_1_1?ie=UTF8&qid=1450072574&sr=8-1&keywords=r%C3%A9inventer+la+france">Réinventer la France</a></i>.</p>
<div class="nav-map">
	<p><span class="index-map" id="01">Wealth</span>
	<span class="index-map" id="02">Education</span>
	<span class="index-map" id="03">Laborers</span>
	<span class="index-map" id="04">Active Population</span>
	<span class="index-map" id="05">Tourism</span>
	<span class="index-map" id="06">Gender equality</span>
	<span class="index-map" id="07">Bachelors</span>
	<span class="index-map" id="08">Car-free households</span>
	<span class="index-map" id="09">Urban zoning</span></p>

	<img id="map-png" src="{{ site.baseurl }}/maps/france/01.png" alt="Urban France">
</div>

<h4>2012 US Election</h4>
<p>This map is part of an analysis of US 2012 general election that depicts the urban network of Barack Obama electoral body: city centers lean more democratic than their outskirts and suburbs.</p>
<a href="{{ site.baseurl }}/maps/us2012.pdf"><img src="{{ site.baseurl }}/maps/us2012.png"></a>
<p>Spatial characteristics are more relevant than socio-economic features to distinguish Romney and Obama’s electoral bodies. A cartographic representation at county level that uses a population cartogram as a base map makes the opposition between both geographies obvious. As in 2008, big cities and other places interfacing with the outside world favored Barack Obama, whereas outskirts and small cities primarily voted for Mitt Romney. </p>
<p>This spatial dichotomy is not surprising considering the parties’ opposing views on the idea of society: whilst the Democrats support the idea of a society of individuals linked by solidarity, the Republicans remain based on the idea of communal groups knit by conservative norms. Obama’s geography, as well as the reforms he carried out as president, show that he is the candidate for those who reject the moral order supported by the Republicans and those who want to establish post-communitarianism in the United States of America.</p>
<p>This article has been written with Jacques Lévy and has been published in the journal <a target="_blank" href="http://www.espacestemps.net/en/articles/lespace-obama-2/">espaces-temps.net</a>.


<h4>A Dynamic Mapping of Time Accessibility</h4>
<p><a target="_blank" href="{{ site.baseurl }}/maps/cs-1.3/">Commuting Scales</a> is an interactive map depicting the commuters space of Lausanne University Campus, using several metrics.</p>
<img class="img-responsive" src="{{ site.baseurl }}/maps/cs-1.3/cs.png" alt="Commuting Scales">
<p>
Visualization tools are crucial to facilitate access to complex spatial phenomenon. This is what the application “Commuting Scales” aims at demonstrating. As an example of such a complex phenomenon, the addressed question is that of the commuters’ space of the university campus of Lausanne, Switzerland. Dealing with traveling times and mobility choices through a day, the application aims at defining which are the scales and metrics of the space that the many users of the campus cover every day.</p>
<p>To reach this purpose, two main geographic metrics are used : that of the euclidean space and that of the time space. The produced images display an objective piece of information : time travel between two places. They are meant to set off a discussion on more complex and subjective features of mobility, such as perceived time, wellbeing, travel costs, etc. By changing the content of the cartographic analogy, it aims at giving to the map its inherent heuristic power, which consists in making readable a complex space, and giving a space to look at, in order to understand the role of topologic transportation systems, the role of distance or the motivations of users.</p>
<p>Public policies regarding mobility emphasize the need of a modal shift from car transportation to public transit. Campus commuters use significantly more public transportation than car, which constitutes a first unordinary situation in Switzerland.</p>
<p>The application Commuting Scales shows that, considering travel times, there is a huge gap between the two transportation means, in favour of car transportation, which constitutes a second paradoxical situation. This gap is mainly due to public transit’s low frequencies. Changing the content of the cartographic analogy allows different visualizations to facilitate the depiction of these issues, and raises the idea that mapping a space participate to its creation by emphasizing its paradox. The cartographic application gives a new base ground for debate on mobility. It raises in particular the idea that mobility is not just about travel time but faces other challenges.</p>
<p>The “modal shift” towards pubic transit is already accomplished for the biggest part of commuters, despite the advantage of car transportation. The majority of these commuters may be students, who are not the richest part of the population. But here is a hiatus that should be the starting point of public policies design. The idea that car is still rooted in young swiss citizens lifestyles is outdated. Public policies are ambiguous because they encourage people to use a less efficient mobility mean, when they should acknowledge  the fact that this “modal shift” is accomplished and should improve the efficiency of public transportation to prevent students from returning to car transportation.</p>
<p>This application is a common work with Boris beaude. The application is powered with <a target="_blank" href="http://d3js.org/">d3.js</a>, <a target="_blank" href="http://www.mapbox.com/">Mapbox</a>, <a target="_blank" href="http://jquery.com/">JQuery</a> and <a target="_blank" href="http://jqueryui.com/">JQueryUI</a>. It can be viewed <a target="_blank" href="{{ site.baseurl }}/maps/cs-1.3/">here</a>. Data have been crawled from the CFF (Swiss federal railway agency) and TomTom websites.</p>  

<h4>2012 Presidential Election in France</h4>
<a href="{{ site.baseurl }}/maps/presidentielle/120425-LeMonde.pdf"><img width="300px" src="{{ site.baseurl }}/maps/presidentielle/120425-LeMonde.png"></a>
<a href="{{ site.baseurl }}/maps/presidentielle/120426-LeMonde.pdf"><img width="300px" src="{{ site.baseurl }}/maps/presidentielle/120426-LeMonde.png"></a>
<p>Vote casts in 2012 French presidential election follow an urban pattern. The map of the far-right party “Front national” (Marine Le Pen) emphacizes the prevalence of suburbs in the contribution to its good results. The immigration rate at the municipal level is spatially non correlated to municipalities where the National Front scores: city centers have the greatest immigration rate and the lowest far-right votes, Paris in particular. This observation is also valid regarding the “blank votes” map that underlines the prevalence of suburbs in the expression of an anti-establishment vote.</p>
<p>Some of these maps have been published in the newspaper <i>Le Monde</i> the day after the election.</p>
<p>These maps have been realized with Chôros Lab. cartographic Center (Elsa Chavinier, Jacques Lévy, Boris Beaude and Manouk Borzakian).</p>  
<div class="nav-map-pr">
	<p>First round : 
	<span class="index-map" id="01">Marine Le Pen</span>
	<span class="index-map" id="02">Migrants</span>
	Second round : 
	<span class="index-map" id="03">François Hollande</span>
	<span class="index-map" id="04">Nicolas Sarkozy</span>
	<span class="index-map" id="05">Abstention</span>
	<span class="index-map" id="06">Blank Votes</span>
	</p>  	
  	<img id="map-png" src="{{ site.baseurl }}/maps/presidentielle/PRES2012-01.png" alt="French 2012 presidential election">
</div>

<h4>Little Big City</h4>
<p>These panels are part of an exhibition performed at the 2010 Biennale for Architecture, Design and Urbanism in Bordeaux, France. Millionnaire cities and their role in globalization were the addressed questions. I produced this exhibition together with Elsa Chavinier, Jacques Lévy and Boris Beaude and the architecture bureau <a href="http://www.laucparis.com/">l'AUC</a>.</p>
<img src="{{ site.baseurl }}/maps/littlebigcity/LBC_PANO.jpg" alt="Little Big City">
<a href="{{ site.baseurl }}/maps/littlebigcity/LBC1.pdf"><img src="{{ site.baseurl }}/maps/littlebigcity/LBC1.jpg" alt="Little Big City"></a>
<a href="{{ site.baseurl }}/maps/littlebigcity/LBC2.pdf"><img src="{{ site.baseurl }}/maps/littlebigcity/LBC2.jpg" alt="Little Big City"></a>
<a href="{{ site.baseurl }}/maps/littlebigcity/LBC3.pdf"><img src="{{ site.baseurl }}/maps/littlebigcity/LBC3.jpg" alt="Little Big City"></a>
<a href="{{ site.baseurl }}/maps/littlebigcity/LBC4.pdf"><img src="{{ site.baseurl }}/maps/littlebigcity/LBC4.jpg" alt="Little Big City"></a>











